@model IEnumerable<FileSharing.Models.FileModel.File>

@{
    ViewData["Title"] = "Недавно загруженные";
}

<form asp-controller="File" asp-action="List" method="get">
    <div class="form-group">
        <label>Имя файла: <input type="text" name="query" /></label>
        <input type="submit" value="Найти" class="btn" />
    </div>
</form>

<h3>Недавно загруженные</h3>
<div class="file-list">
@foreach (var file in Model)
{
    <div>
        <span class="user-name">@file.User.Login</span>: 
        <a href="@file.Link.Url">@file.FileName</a> - @file.CreatedDate.ToString("{dd/MM/yyyy}")
        @(file.Link.AccessPassword != null ? "🔒" : "")
    </div>
}
</div>